<section class="vh-100 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 col-xl-8">
        <div class="container mt-3">
          <div class="d-flex flex-column">
            <h1>Stupid Coaching</h1>
            <p>Ask your coach anything:</p>
            <div class="col-8">
              <form action="/answer" data-turbo="false" method="get">
                <div class="mb-3">
                  <input type="text" class="form-control" name="question">
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Ask!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
